########################################
# Dependencies
/vendor/

# Composer PHAR (local executable)
composer.phar

########################################
# IDE / Editor
.vscode/
.idea/

########################################
# OS cruft
.DS_Store
Thumbs.db

########################################
# Logs & runtime
*.log
